.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.title-2 {
    font-size: 15px;
    letter-spacing: 1px;
}

.text-align-center {
    text-align: center;
}

.letter-space-2 {
    letter-spacing: 2px;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.skinny {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.dk-green {
    color: #00ab6c;
}

.green {
    color: #0be370;
}

.li-green {
    color: #14fc7d;
}
