#blog {
    width: 100%;
    height: auto;
    margin: 30px 0;
    padding-bottom: 70px;
}

#blog-title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
}

#blog-img {
    width: 80vw;
    height: 40vw;
    margin: 20px 0;
    background-color: lightgrey;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#blog-body {
    font-size: 17px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}


.blog-show-section {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: inline-block;
}



// .blog-bg {
//   width: 100%;
//   height: auto;
//   background-color: whitesmoke;
// }
//

//
// .blog-body {
//   width: 100%;
//   min-height: 700px;
//   height: auto;
//   background-color: #fff;
//   padding: 80px 60px;
//
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//
//   font-size: 19px;
//   line-height: 30px;
//   letter-spacing: 1px;
//   color: #5f5f5f;
// }
//
// .blog-img {
//   width: 100%;
//   height: 50vw;
//   max-height: 600px;
//
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//
// .blog-img-mobile {
//   width: 100%;
//   height: 65vw;
// }
