#blog-form-container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

#blog-form {
    height: 100%;
    width: 80%;
    max-width: 650px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.blog-input {
    min-width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 3px;
    outline: none;

    font-weight: 100;
    letter-spacing: 1px;
}

#blog-title-input {
    margin-top: 25px;
    height: 50px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

#add-img-btn {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-img-icon {
    height: 100px;
}

#blog-body-input {
    min-height: 300px;
    font-size: 17px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#blog-submit {
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
}
