@import 'blog_submit_button.scss';

#blog-form-container {
    width: 100vw;
    height: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

#blog-form {
    height: 100%;
    width: 80%;
    max-width: 650px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.blog-input {
    min-width: 100%;
    box-sizing: border-box;

    padding: 7px;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 3px;
    outline: none;

    font-weight: 100;
    letter-spacing: 1px;
}

#blog-title-input {
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

#blog-intro-input {
    height: 40px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
}

#blog-body-input {
    min-height: 275px;
    font-size: 17px;
    padding-top: 15px;
    border-bottom: 1px solid #eee;
}

#add-img-btn {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-img-icon {
    height: 50px;
    margin-bottom: 5px;
}

.blog-form-label {
    margin: 2px 0;
}
