@import 'blog_form.scss';
@import 'blog_show.scss';

#blogs {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#blog-link {
    width: 80vw;
    height: 120vw;
    background-color: whitesmoke;
    margin: 20px auto;
    cursor: pointer;
}

@media screen and (min-width: 450px) {
    #blogs {
        width: 100vw;
        padding: 3vw;
        flex-direction: row;
        justify-content: flex-start;
    }

    #blog-link {
        width: 40vw;
        height: 60vw;
    }
}

.blog-content {
    height: auto;
    width: 80%;
    min-width: 540px;
    max-width: 900px;

    margin: 0 auto;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #aaaaaa;

    background-color: #fff;
    position: relative;
}


@media screen and (min-width: 768px) {
    #blog-link {
        width: 26vw;
        height: 39vw;
    }

    .blog-content {
        width: 90%;
    }
}

@media screen and (min-width: 1100px) {
    #blog-link {
        max-width: 340px;
        max-height: 500px;
        background-color: #000;
    }
}

.blog-link-img-box {
    height: 45%;
    width: 100%;
    background-color: lightgrey;
}

.blog-link-img {
    height: 100%;
    width: 100%;
}

.blog-link-info {
    height: 55%;
    width: 100%;
    padding: 7px;
}

#blog-link-title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 8px;
}

#blog-link-text {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5px;
}

#blog-link-body-intro {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 22px;
}
