#hamburger-menu {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.hamburger-slab {
    width: 100%;
    height: 2px;
    background-color: #333;
}

#hamburger-dropdown-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

#hamburger-dropdown {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#hamburger-dropdown li {
    height: 45px;
    width: 100%;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;

    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
}

@media screen and (min-width: 1100px) {
    #hamburger-dropdown-container {
        top: 70px;
        right: 0;
        width: auto;
        height: auto;
    }

    #hamburger-dropdown {
        width: 250px;
        height: auto;
        border: 1px solid #ddd;
        border-top: 0;
        background-color: #fff;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    #hamburger-dropdown li {
        margin: 0;
        border-bottom: 1px solid #e7e7e7;
        font-size: 15px;
    }

    #hamburger-dropdown li:last-child {
        border-bottom: 0;
    }

    #hamburger-dropdown li:hover {
        background-color: #e7e7e7;
        transition: all .2s ease-in;
    }
}
